[2017-04-27 03:44] extraymond opened #1 "Distribute as thunderbird extension"
First of all! Thx for making this!
It would benefit more if this could be distributed through mozilla persona or extension.
Thx after all, really beautiful.

[2017-04-27 07:22] spymastermatt commented on #1
Glad you like it!
I will be looking into this in the next couple of days.

[2017-04-27 07:48] Aguay-val opened #2 "Mail subject on 4/3 screen too big"
Hi !

First of all thanks for this amazing work !

I just have an issue with the size of the subject.

![selection_073](https://cloud.githubusercontent.com/assets/2204373/25472834/47104324-2b2d-11e7-9478-020dbd134c58.png)

I think it would be awesome if text size would be more responsive depending of the size available.

Here, it seems to be fixed size.

[2017-04-27 07:51] spymastermatt commented on #2
Hi glad you like it.
Oh ok that's odd. I'm not sure how feasible responsive text size is (having tried to find a way several times when doing web development and never found anything)
However, at the very least the subject box should expand to accommodate the text or elide the subject (probably the former)

[2017-04-27 07:57] ddo opened #3 "full dark theme same as dark"
My thunderbird v45.8.0

[2017-04-27 09:45] j0r0 commented on #2
Hi,
I just changed display:flex to block and it seems that it solves the problem

![image](https://cloud.githubusercontent.com/assets/370737/25477750/e640438e-2b3e-11e7-8d8e-00bbcb20bd5c.png)

The CSS now looks like this
[code]

[2017-04-27 09:54] edmael opened #5 "Bad font rendering on Windows"
On Windows all the themes have some little bugs: the main one is the bad font rendering.

Here's a screenshot to show you what I mean (don't mind all the blank, I just obfuscated some informations. To see the issure just compare the readability of the Thunderbird welcome message and all the other font in that screenshot).

![font_bug](https://cloud.githubusercontent.com/assets/1659050/25478043/f15

[2017-04-27 09:56] hogar1977 commented on #3
Same for me, but with an additional twist... Light and dark themes look the same (dark left side pane, dark top, light (glaringly white) toolbar and email list and email itself **and** the selected folder in the left side pane is not highlighted, i.e. there is no way to see which folder is selected.

I am using Antergos (basically Arch) with Gnome 3 and Adapta-Nokto-Eta theme. If I pick Adwaita th

[2017-04-27 10:02] Aguay-val commented on #2
Thanks !

This seems to fix this issue!

Thanks againt :+1:

[2017-04-27 10:54] spymastermatt commented on #3
So to clarify a little, the dark and fulldark themes are not themes as such, but are for use **with** dark and fulldark themes. If you use a light theme, dark will look the same as light.

As to why it isn't working with Adapta-Nokta I will investigate tonight

[2017-04-27 12:09] geek1011 opened #6 "Square tabs"
I (personally) think this theme would look more consistent if the tabs were square.

Also :+1: on this great theme. It's the first nice one I have seen in a while.

[2017-04-27 12:33] cwitt2013 opened #7 "Tickbox does not show checkmarks"
Hi,

when I check a 'tick box' I do not see a check mark.

I use Fedora 25, Thunderbird 52 and the monterail theme.

Thank you for the great theme. I really appreciate the work!!!

[2017-04-27 12:36] Tromzy commented on #3
Dark css don't seem to work with KDE Plasma dark theme either.

[2017-04-27 13:07] j0r0 commented on #6
Not sure i understand...as i see tabs are "square?"

![image](https://cloud.githubusercontent.com/assets/370737/25484669/42ac72fc-2b5b-11e7-8fbe-daa1ea1ad29b.png)

[2017-04-27 14:38] NikEfth opened #8 "Plasma appearasnce"
Thank you for this much needed theme.
In plasma the themes are not working properly. Wrong colours of backgrounds and fonts.

[2017-04-27 19:06] nd- opened #9 "No background colors"
Hello,
thanx for your work.
I tried the themes but i have no background colors in Thunderbird, all is white.
I tested the 4 themes with my profile, but I have some extensions, so I tested with a clean new profile: nothing, nada, nichts, rien...
I can see the font and the icons, but the background is all white.

Thunderbird 52.0.1 (64 bits) on OSX 10.11.6

[2017-04-27 21:25] mlmilliman opened #10 "Hidden Text in Folder Pane"
Awesome work on this skin/theme! I now enjoy using Thunderbird again. It now feels like a modern e-mail client.

I've tested the Monterail and Dark themes and I've noticed that folders with their names in italics display in the background color or with no color. If I select the folder then it turns white so it is visible but when I select another folder it disappears again. The picture below shows

[2017-04-27 21:57] spymastermatt commented on #2
thanks @j0r0, I have merged your pull request. Marking this as fixed.

[2017-04-27 21:58] #2 closed

[2017-04-27 22:25] spymastermatt commented on #5
@edmael Could you try the new files and let me know if the issue is fixed?

[2017-04-27 22:29] spymastermatt commented on #6
Interesting.
I will probably create a square tabs version when I have fixed some of the other issues.
I am looking at restructuring the css to bring customisation into a single file so I'll probably add the square tabs feature in there as a toggle.

[2017-04-27 22:32] spymastermatt commented on #8
Hi @NikEfth glad you like the theme.
I am using plasma and the panels seem the right colours for me.
Can I check which userChrome and plasma theme you are using?
Also, check that you have the correct GTK theme set in plasma settings:  Application Style > GNOME Application Style (GTK)

Thanks

[2017-04-27 22:38] spymastermatt commented on #3
@hogar1977, @Tromzy could you post screenshots so I can see what's wrong?
I have tried the Adapta-Nokto-Eta theme with fulldark, Adwaita with light and Breeze light and dark with corresponding userChrome and they seem fine on my machine.
I am currently working on a userChrome-gtk.css which should automatically adapt to the current gtk theme, after which I will make dark and fulldark be actual them

[2017-04-27 22:54] spymastermatt commented on #7
@cwitt2013 Glad you like it!
I must be being dumb because I can't find any checkboxes.Could you point me to where they were so I can fix them.
Thanks for taking the time to report this

[2017-04-27 22:57] spymastermatt commented on #9
Hi @nd- glad you like it. Does the light variant work for you?
I think I may have been super confusing with my naming as this seems to be something that crops up a lot.

The light, dark and fulldark variants are for use with gtk themes that are light/dark/fulldark. They are not dark etc variants in themselves.

I will fix this in a few days, with one userChrome-gtk which should automatically adapt

[2017-04-27 23:01] spymastermatt commented on #10
@mlmilliman Hmm, you've stumped me there. I don';t have any folders in italics and of course (ironically) I can't see the names on your screenshots. What makes them be italic? Are they special folders in some way?

I see you have a full theme applied as well, could you try it with the theme disabled in case its a conflict with the theme (still needs fixing but at least helps me track it down)

[2017-04-28 02:05] mlmilliman commented on #10
They are typically system folders. The one under Inphotonics Research is _[Gmail]_. Under Comcast there are _Chats, DUMPSTER, and EMailed Contacts_. The Inphotonics Research is really a Gmail account that I access via IMAP. I don't know what makes these folders different and I don't have a way to look at the elements to see their formatting.

I removed my theme but it didn't make any difference. I

[2017-04-28 04:09] techdev5521 opened #11 "macOS"
The theme does not work on macOS at all. This may be because of Thunderbird using Cocoa instead of GTK+ to draw itself, but I am not totally sure.

[2017-04-28 06:43] spymastermatt commented on #10
@mlmilliman ok thanks. I'll set up a Gmail account to see if I can replicate the problem. I'll let you know when/if I manage to fix it

[2017-04-28 06:44] fxbenard opened #12 "Font doesn't support accentuation"
Lovely themes - Great job.
The problem is that your font doesn't render properly accentuation characters.
é, à, ç etc. shows with ? instead

[2017-04-28 06:50] spymastermatt commented on #12
@fxbernard glad you like it!
Ah ok. I will need to find a different font then. In the mean time, if you open your userChrome.css and comment the font-family line from the * section (see the font size line for how to comment CSS). This will go back to using your system font

* {
	font-family: LightSans; <<This line
	/*font-size:14px;*/
}

[2017-04-28 06:54] spymastermatt commented on #11
Hi @techdev5521, which variant are you using?

[2017-04-28 07:00] syphernl commented on #7
Same problem here (Ubuntu 16.04 / XFCE). There are checkboxes in the calendar component to select which calendars are visible. Same for the todo list

![image](https://cloud.githubusercontent.com/assets/639906/25517760/1763283e-2bf1-11e7-964c-574531b56ca0.png)

As you can see, there is a difference between checked and unchecked but its very hard to distinguish between the two.

[2017-04-28 07:03] spymastermatt commented on #7
Hmm ok. It's odd as I didn't change any check box code AFAIK.
Thanks for finding that for me. I'll look into it.

[2017-04-28 07:08] fxbenard commented on #12
@spymastermatt +1 It does the trick
My bad it wasn't your themes's font issue.
I checked your embeded font and accentuated characters are supported.
Wrong encoding for some newsletters and it happens just after I installed your theme.

BTW: on windows didn't was able to make variants themes to work properly

[2017-04-28 07:11] spymastermatt commented on #12
Ah ok good to hear 🙂.
I'm aware of the windows issues and am working on them.
I'll close this issue but if you want to check the progress on the colour issues check issue #9

[2017-04-28 07:11] #12 closed

[2017-04-28 07:27] fxbenard commented on #9
![2017-04-28_09-21-44](https://cloud.githubusercontent.com/assets/802114/25518622/cb6840d2-2bf4-11e7-9f1e-393e0b12d883.png)
Dark style applied on my windows 10 install

[2017-04-28 07:34] ozo2003 opened #13 "fonts don't support utf8 symbols, goes back to fallbacks"
![screenshot_2017-04-28_10-33-18](https://cloud.githubusercontent.com/assets/5328929/25518860/2506b2b4-2bfe-11e7-9a8b-cbf6f9f45f08.png)
![screenshot_2017-04-28_10-33-31](https://cloud.githubusercontent.com/assets/5328929/25518861/2506fb0c-2bfe-11e7-82fa-e632aaf34680.png)

any chance to get fonts that would support utf8 symbols properly?

[2017-04-28 08:01] Tromzy commented on #3
![thunderbird_black](https://cloud.githubusercontent.com/assets/1344491/25519805/9bbd5fa2-2bf9-11e7-828a-a8cd12b4656f.png)

[2017-04-28 08:02] Tromzy commented on #3
That's the Dark theme.

[2017-04-28 08:45] ddo commented on #3
full dark theme
![screenshot from 2017-04-28 15-39-19](https://cloud.githubusercontent.com/assets/1265628/25521421/a88ff99e-2c29-11e7-9c6e-3e66afe8b69b.png)

[2017-04-28 09:52] edmael commented on #5
Sadly, it seems the issue is not solved.

![image](https://cloud.githubusercontent.com/assets/1659050/25524015/1250f3e0-2c09-11e7-9c6a-5a35744316ee.png)

[2017-04-28 10:22] cbf305 commented on #11
Same here.  All variants don't work for the most part. It does apply some styling, but it's no where near what is shown in the screenshots.  All of them applied spacing to the messages pane, icons to the folder pane, and font colors to the folder pane, but all the chrome was still the silvery macOS default and the folder pane was just pure white.

Attached is a screenshot of what the dark variant

[2017-04-28 10:35] nd- commented on #9
Same problem as @fxbenard on OSX: no background colors, and white text on white background in the folder panel.

[2017-04-28 10:52] NikEfth commented on #8
Hi!

I tried them all. Only the montreal was ... almost correct. The dark and very dark were with the same color as my plasma theme. Also the color of the fonts on the top tabs is wrong. I am using the latest version of all Plasma  from the Arch repo.

[2017-04-28 11:41] geek1011 commented on #6
No, they should be square. Right now, they do not appear to be square, they are still round.

[2017-04-28 11:54] cwitt2013 commented on #7
thy @syphernl
This is the problem I meant

[2017-04-28 12:15] arthurlogilab opened #14 "wrong background for folder panel (white fonts on grey boxes)"
First, thanks for the theme, lets make thunderbird popular! ;-)

![screenshot_2017-04-28_14-14-47](https://cloud.githubusercontent.com/assets/445200/25528243/12077404-2c1d-11e7-9645-b3d3303fdfeb.png)

Is this a bug or a misconfiguration on my side ?

[2017-04-28 12:35] jschneider commented on #14
I have the same issue here. I first tried "userChrome-monterail.css" which worked fine. Switching to the dark themes doesn't work then

[2017-04-28 12:54] Moini commented on #14
Same for me - Linux Mint 18.1, Mint-X theme.
I don't get the boxes, but the dark themes just don't give dark backgrounds (but white text).

[2017-04-28 13:03] spymastermatt commented on #14
Not sure why you have grey boxes, maybe try downloading the css files again?
Are you using a full theme as well and which gtk theme are you using?

Regarding the dark variants looking light, I think I may have been super confusing with my naming as this seems to be something that crops up a lot.

The light, dark and fulldark variants are for use with gtk themes that are light/dark/fulldark. They a

[2017-04-28 13:04] spymastermatt commented on #11
Ah OK this seems to be something that crops up a lot and it's not a bug as such, just me being confusing with my naming.

The light, dark and fulldark variants are for use with system themes that are light/dark/fulldark. They are not dark etc variants in themselves.

I will fix this in a few days, with one userChrome-gtk which should automatically adapt to the current theme, after which I will mak

[2017-04-28 13:07] spymastermatt commented on #9
Hi @nd- @fxbenard, as I say, if you are using windows/macos only the light theme wil work with your system theme. The monterail theme should also work as it does specify it's own colours.
The dark and full-dark themes don't actually specify dark colours, but pull them from the current system theme, designed for use with dark/fulldark system themes.

I am working on changing this so that the dark/f

[2017-04-28 13:12] Moini commented on #14
Thanks, that explains it :)

[2017-04-28 13:14] arthurlogilab commented on #14
@spymastermatt thanks for the reply. I use awesomewm https://awesomewm.org/ which probably explains the fact that the gtk theme is not right. Launching gnome-session fixes this (but I would really like finding a solution that doesn't involve launching gnome-session).

[2017-04-28 13:50] sg-s commented on #11
see this [link](https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22)

they have a link to something they say works across platforms

[2017-04-28 15:42] AntoineTurmel commented on #2
Good that I checked closed issues before ;) Thanks for the fix !

[2017-04-28 16:32] pled opened #15 "Missing Cc field in email header"
In the header, I can see only 'To' addresses field. When some people are in Cc (copy), they are not displayed.

[2017-04-28 23:31] Girtablulu opened #16 "Multiple Profiles"
Hello

Great design you did but sadly I have a little problem, on my Thunderbird I'm using 2 different profiles. The design works for the first profile but not for my second one, do you know a solution or what do I have to do to get it working for this one?

[2017-04-29 02:45] AdmiralAsshat opened #17 "Change Font Color on Menu Bar"
The Monterail theme looks great when the Menu Bar is hidden, but when it's left on, the text is very difficult to read:

![thunderbird monterail menu bar](https://cloud.githubusercontent.com/assets/5513487/25552322/5be3e1ec-2c64-11e7-974e-02138049fd9a.png)

Can we change the font color on Menu Bar text to be something more legible?

I'm looking at using something from  [this site](https://material

[2017-04-29 09:30] lumiru opened #18 "Ugly window background on Windows 7"
Hi,

I use your theme on Windows 7. I got an ugly blue titlebar over the transparent Windows 7 theme.

![ugly-blue-titlebar](https://cloud.githubusercontent.com/assets/4085705/25554469/67d9e072-2cce-11e7-90d8-d25e2c9f55b3.png)

I fix it by removing white background on "window" tag and blue background on "#navigation-toolbox".

[2017-04-29 09:45] FerSabGar commented on #15
Hi,
I 'creative' solution I found for it was to set as 'default' the 'display' in #expandedHeader2Rows in order to activate the writing of 'cc:' and 'bcc:' fields and also add additional code to print in blue the 'cc:' values and in red the 'bcc:' values in order to avoid incluiding labels for these fields.
So my changes in the code are:

#expandedHeader2Rows row {
	padding-left:15px !important;

[2017-04-29 12:16] evemassacre commented on #5
Same here. Which really is a shame because this is such good work!

[2017-04-29 14:54] FerSabGar commented on #15
Finally I could correct the misplacement of the 'from:' field after having enabled the 'cc:' and 'bcc:' fields.
It is necessary enable the 'inline' for display regarding of hearder first part row (#expandedHeaderRows). The code to include is (I put it just before the "#expandedHeader2Rows row {" structure):

#expandedHeaderRows row {
	display: inline !important;
}

In this way the hearder is perfe

[2017-04-29 17:23] pled opened #19 "Calendars check box all white (Lightning)"
When using Lightning as calendar, on the left pane listing the calendars, the check boxes are always blank no matter if the box is checked or not.

[2017-05-01 01:48] Coeur-Noir commented on #19
Hi,

I can confirm this problem with blank check boxes in lightning
on Ubuntu 16.04 / Unity / TB 45.8.0

[2017-05-01 15:34] pinkdroyd opened #20 "Twisty icons (to expand/collapse folders) hardly visible"
I recently started using the monterail theme. My only problem with it is that because of the dark background I can now hardly see the black icons to expand and collapse folders in the folder tree:

![monterail1](https://cloud.githubusercontent.com/assets/4980307/25583929/32677b12-2e94-11e7-8cde-bb0a4d5ddaef.png) ![monterail2](https://cloud.githubusercontent.com/assets/4980307/25583940/377fc410-2e9

[2017-05-01 20:12] jrock2004 opened #21 "Install on Windows"
So I just installed newest Thunderbird and downloaded the zip file. I took the chrome folder and placed in it `C:\Users\john.costanzo\AppData\Local\Thunderbird\Profiles\dxb5zkup.default`. I opened thunderbird and I see no changes. Here is what the content of the folder looks like

![image](https://cloud.githubusercontent.com/assets/655716/25593002/02d8e3aa-2e89-11e7-987f-95643074393d.png)

What I

[2017-05-02 06:55] j0r0 commented on #19
Could this be the same as #7
Sounds like it, and i reproduced it as well

[2017-05-02 18:01] conema commented on #9
Hi @nd- @fxbenard, watch out my new pull request, the dark theme should be working now.
[Pull request](https://github.com/spymastermatt/thunderbird-monterail/pull/22/files)

[2017-05-02 19:46] conema commented on #20
Hi @pinkdroyd, you are right. I think that we need to change the svg icon with a whiter one by creating a css rule that overwrite the current list-style-image (found in tree.css - row 316).
I will try to do it in the next days. I will update you.

[2017-05-02 20:24] ollbi commented on #5
I have te same issue. Rendered font is very bad for now :-(

[2017-05-02 20:26] ollbi commented on #14
I have te same issue with dark and full dark. It isn't dark on Windows but grey.

[2017-05-02 20:48] spymastermatt commented on #20
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues.

Thanks @conema for helping out but to save you time I have already done this :)
Are you interested in helping to contribute more, I'd love some assistance as the theme rather took off more than I was expecting?

[2017-05-02 20:48] spymastermatt commented on #19
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:48] spymastermatt commented on #18
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:48] spymastermatt commented on #17
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:49] spymastermatt commented on #16
Hmm, not sure. I'll look into it for you.

[2017-05-02 20:52] spymastermatt commented on #15
Thanks for your help @FerSabGar I have now committed a fix (based off of yours :) ) to my development branch.
Sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:53] spymastermatt commented on #14
@olbi see issue #3 for an explanation.

Everyone:
Sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:55] spymastermatt commented on #14
@arthurlogilab Once I have pushed this update I will look into why the gtk theme is detected on awesomewm. I used to use i3 so I know it's a pain when things don't detect properly :)

[2017-05-02 20:56] spymastermatt commented on #13
Hey, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues, after which I will look into selecting a new font.
In the mean time, if you comment out the font-family line under the * section, you will get your system font back :)

[2017-05-02 20:56] spymastermatt commented on #11
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 20:57] spymastermatt commented on #10
@mlmilliman, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues, after which I will look into this issue

[2017-05-02 21:00] spymastermatt commented on #9
@conema Thank you for this! I will add it to the dark theme after I push the userChrome-gtk.css (hopefully tomorrow), which will allow people with dark themes to use their gtk colors (as the current dark theme does).

Everybody:
Sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 21:02] spymastermatt commented on #8
@NikEfth, the dark and full dark themes currently do use the gtk theme colours, see issue #3 for an explanation. However, that will be changing in the next couple of days and then light, dark and fulldark will become actual fixed colour themes (with easily configurable colours) :)

[2017-05-02 21:03] spymastermatt commented on #7
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 21:04] spymastermatt commented on #6
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues. Once i have pushed that and fixed a couple of other minor bugs, I will look into this.

[2017-05-02 21:05] spymastermatt commented on #5
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues. After that I will be looking for a font with better rendering on Windows and better accent character support (issue #13).

[2017-05-02 21:06] spymastermatt commented on #3
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues (including this one)

[2017-05-02 21:07] spymastermatt commented on #1
Hey all, sorry for being quiet for the past few days, I have been working on a big update (coming tomorrow hopefully) which fixes almost all open issues. Once I have fixed the open issues I will look into making the theme into an extension (hopefully with customisation)

[2017-05-02 21:54] mlmilliman commented on #10
No problem. We are all busy. My issue is relatively minor, but I'm delighted that you are going to produce a fix. I actually enjoy using Thunderbird again due to your UI improvements. It now looks like a modern e-mail client. Thanks your your great work.

[2017-05-02 22:32] NikEfth commented on #8
Cheers

[2017-05-03 06:18] fwhcat commented on #21
It's written explicitely on the readme

But before that, I'd do a backup of the original userChrome.css if I were you.

[2017-05-03 08:24] spymastermatt commented on #21
@fwhcat From the look of @jrock2004's screenshot, he has done. his userChrome.css has the exact same file-size and modification time as the theme css files.

@jrock2004 That all looks good to me. Try doing a search on your computer for a file called abook.mab (there should be one in your thunderbird profile folder). That might show up if thunderbird is using a different profile folder.
If nothing

[2017-05-03 09:52] FerSabGar commented on #15
Great, @spymastermatt !!!
Thanks for your work.

[2017-05-03 10:38] Masclaux commented on #21
Hi You are in the wrong path. UserChrome need to be in

C:\Users\username\AppData\**Roaming**\Thunderbird\Profiles\xxxxxxx.default

[2017-05-03 16:17] conema commented on #20
@spymastermatt Absolutely! I'd be very happy to help you.

[2017-05-04 09:45] princejosuah commented on #5
Hello @spymastermatt and thanks for your work.

Same issue here. I've tried to replace the whole font thing with something else (Roboto). Downloaded and changed the font files (ttf, woff, woff2, svg) in the appropriate folder and changed accordingly in the userChrome.css. This is my code, just in case:

[code]
To no avail.

Commenting the 'font-family' line does not do the trick either.

Impatient

[2017-05-04 17:56] conema commented on #3
@ddo @hogar1977 @Tromzy Hi guys, I made two PR that solve your problems.
#23  Fix for full-dark theme
#22 Fix for dark theme
Go check them =)

[2017-05-04 18:36] spymastermatt commented on #3
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:36] #3 closed

[2017-05-04 18:38] spymastermatt commented on #6
Hi everyone.
Square tabs are now default for the light, dark, fulldark and monterail variants, and optional for the system variant.
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:39] #6 closed

[2017-05-04 18:39] spymastermatt commented on #7
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:39] #7 closed

[2017-05-04 18:39] spymastermatt commented on #8
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:39] #8 closed

[2017-05-04 18:39] spymastermatt commented on #9
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:39] #9 closed

[2017-05-04 18:40] spymastermatt commented on #15
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:40] #15 closed

[2017-05-04 18:41] spymastermatt commented on #17
@AdmiralAsshat
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:41] #17 closed

[2017-05-04 18:41] spymastermatt commented on #19
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:41] #19 closed

[2017-05-04 18:41] spymastermatt commented on #20
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 18:41] #20 closed

[2017-05-04 18:43] spymastermatt commented on #21
@Masclaux good spot!
@jrock2004 can you try the directory @Masclaux suggested and let us know if it worked so I can close the issue.
The correct directory specification for Windows is now in the readme thanks to the amazing @conema!!

[2017-05-04 18:51] ddo commented on #3
confirmed all themes works. ty

[2017-05-04 18:54] wanderleihuttel opened #26 "Theme monterail problem CSS"
Hello @spymastermatt! I've just get the new version but it look have some wrong CSS in menu option, and the color when an email is active could be the same of select folder tree.

![monterail](https://cloud.githubusercontent.com/assets/16232272/25720063/e5c1a210-30e1-11e7-9c45-c4000039e0bf.png)

Regards
Wanderlei

[2017-05-04 19:02] #18 closed

[2017-05-04 19:10] spymastermatt commented on #26
@wanderleihuttel Thanks for spotting this. It looks like Windows puts the menu in a different place to Linux so the color doesn't work. I'll add a check for Windows to fix this.

Regarding the highlight color, they could be the same but as that's a matter of user preference, I'll let you set that in the userChrome.css variables.

Adjust: *--tree-row-highlight-background-color* to be the desired hi

[2017-05-04 19:16] #26 closed

[2017-05-04 19:16] spymastermatt commented on #26
@wanderleihuttel Try now, hopefully it should be fixed.

[2017-05-04 19:19] spymastermatt commented on #16
@Girtablulu Try opening thunderbird with your second profile and then open preferences (Tools->Options->Advanced). After that, click the 'Config Editor' button, accept the warning and then search for directory. Your directory should be the value of the parameter mail.server.server1.directory. This is the path where you should extract the chrome folder.

[2017-05-04 19:20] spymastermatt commented on #16
@Girtablulu also make sure you get the latest version as I have just made a huge update which fixes lots of issues!

[2017-05-04 19:22] spymastermatt commented on #14
@jschneider @Moini @ollbi Try downloading the latest version. I have just pushed an update with numerous fixes,as well as a complete refactor, so the dark/light/fulldark/monterail variants should now work on Windows

[2017-05-04 19:24] spymastermatt commented on #14
@arthurlogilab The new version with updated dark/light/fulldark/monterail variants should now work for you. I am away for a week now but I will look into proper gtk theme detection on other WM's / DE's when I get back

[2017-05-04 19:25] spymastermatt commented on #13
@ozo2003 Please download that latest version. Whilst I don't think it will fix your font issues, it does allow you to choose a font to use by editing a variable in userChrome.css. I am away for a week now but I will look into the font rendering issue when I get back

[2017-05-04 19:26] spymastermatt commented on #3
@ddo Perfect , thank you!

[2017-05-04 19:27] spymastermatt commented on #11
Hi everyone.
This should now have been resolved by a complete rewrite (and refactor).
Please discard the old versions and download the new ones.

Thanks everyone for helping out with bug reports and fixes!!

[2017-05-04 19:27] #11 closed

[2017-05-04 19:29] spymastermatt commented on #5
Hi everyone. Please download that latest version. Whilst I don't think it will fix your font issues, it does allow you to choose a font to use by editing a variable in userChrome.css. I am away for a week now but I will look into the font rendering issue when I get back

[2017-05-04 19:32] spymastermatt commented on #1
@extraymond Please download that latest version as it fixes lots of issues and allows easy customisation. Regarding making it into a proper theme, the documentation is mostly outdated by its own admission so I'm afraid it's been pushed back until more bugs are fixed.
Hopefully someone with some knowledge in this area might help out in future. I'm considering reaching out to developers of existing

[2017-05-04 19:36] FerSabGar opened #27 "Message list lines & tags Colors"
Firstly, many thanks to @spymastermatt for their excellent work, and also for other contributors.
Could it be possible to write lines from 'messages list' according to colors associated to tags? So, could 'important' messages be listed in red, and so on?

[2017-05-04 19:39] wanderleihuttel commented on #26
Hello @spymastermatt !

Now it worked! But when I create a new mail is getting the color os background of  folders.
![monterail2](https://cloud.githubusercontent.com/assets/16232272/25721759/06240eca-30e8-11e7-8cac-01be2c988553.png)

Congratulations for this great job.

There is some place that I could learn about theme thunderbird?

Regards
Wanderlei

[2017-05-04 19:47] spymastermatt commented on #27
@FerSabGar Hmm. I'll look into it. It might just be a case of removing the !important flag from the Highlight color rules, but I'm not sure if that will stop them from working all together. I'll have a look tomorrow hopefully

[2017-05-04 19:50] spymastermatt opened #28 "Correct icon theme should be automatically selected in system variant"
Thunderbird uses the [brightext] attribute on certain elements to determine if a light or dark text-color is required for toolbars etc.

We should try to use that to update other elements and select the correct icon theme automagically

[2017-05-04 19:51] spymastermatt commented on #28
I did look into this but since the places where the icons are needed are not children or siblings of elements with the brighttext attribute, it seems difficult to use this.
Further, :-moz-lwtheme-brighttext only works if the theme creator has specified whether bright text should be used

[2017-05-04 19:58] spymastermatt commented on #26
@wanderleihuttel try again now. I realised only the navigation toolbox wanted changing and have updated it as such.

Regarding theming thunderbird, how much css dow you know?
Other than that you want to install the dom-inspector and element-inspector add-ons.
You also want to check out these two sites:
- https://developer.mozilla.org/en-US/docs/Web/CSS/Mozilla_Extensions - Lists various Mozilla sp

[2017-05-04 20:05] FerSabGar commented on #27
It seems that you are right; just deleting '!important' from "#threadTree > treechildren::-moz-tree-cell-text {" structure in _base.css file the colors appears.
So, the resulting code in _base.css file is:
[code]
I will test if this change implies additional problems.
Thanks.

[2017-05-04 20:45] fxbenard commented on #9
@spymastermatt It works like a charm. Thanks for those awesome improvements

Can you tell me the way to change the light blue of monterail by the orange of the dark theme with your new system in the selected message column. Sure it will rock ;)

[2017-05-04 21:02] conema commented on #9
@fxbenard Are you speaking about the thread collumn, where email are displayed?

I will help you tomorrow with that (GMT+2), unless @spymastermatt doesn't anticipate me 😀

[2017-05-04 21:40] fxbenard commented on #9
@conema Yes exactly, the thread column.

[2017-05-04 22:51] walkero-gr opened #29 "Sort list not visible"
Great update and very nice work you done here. There is still a problem with the sorted column in the Subjects list of the emails. It is not visible which column as only the Default column has the arrow visible, and even if you click to change the order, the arrow doesn't change. Also it doesn't change if you click to sort with an other column.

I use Thunderbird 45.8.0 under Linux Mint

[2017-05-04 23:30] Conker1r commented on #21
@jrock2004
I found that I needed to apply new permissions to the chrome folder before or after you copy it over to your profile directory. I removed the 'read-only' permission and applied it.
This worked for me on Windows 10

![capture](https://cloud.githubusercontent.com/assets/20133975/25728917/39c1f79a-30ef-11e7-9cee-7f5053352f18.PNG)

[2017-05-05 01:12] Moini commented on #14
@spymastermatt : Thanks :) - dark is indeed dark now on Xfce / Linux Mint 18.1 :-D
Only in the toolbars, the font and icons are dark, too, when I want to write a message.

[2017-05-05 01:13] spymastermatt commented on #9
@fxbenard If you edit your userChrome.css by uncommenting the line: *--message-list-highlight-background-color*, you can change the highlight color for the message list. FYI the orange from the dark/light themes is: #3DAEE9

[2017-05-05 01:39] jrock2004 commented on #21
@Masclaux answer was the right one. Sorry took so long to respond

[2017-05-05 01:39] #21 closed

[2017-05-05 01:41] spymastermatt commented on #14
@Moini Good spot. I have pushed a fix

[2017-05-05 01:44] spymastermatt commented on #21
@jrock2004 No worries, took me ages to respond for a while... we're all busy :)
@Masclaux Thanks for supplying the answer

@Conker1r Thanks for the tip! If we find a lot of people have the same problem I'll add your tip to the readme

[2017-05-05 02:08] Moini commented on #14
That was fast :) Will try it out and enjoy tomorrow :D

[2017-05-05 05:21] extraymond commented on #1
Thx! I tried and like it so far.
Being able to customize the theme is a huge bonus. Happy weekend.

[2017-05-05 06:01] fxbenard commented on #9
@spymastermatt Lovely it works as expected, thanks for the tip, your new system is really useful for little twists like that.
FYI: your orange is: #F07746
Thanks

[2017-05-05 07:05] Abhinav1217 opened #30 "Is there any way to disable square tabs."
From `userChrome.css`
[code]
I want to use light theme ( or sometimes dark theme ) but I am not really a fan of square tabs. But this looks like I can't disable it without using system.css .  Is there any way I can have nice firefox australis 'esk curved tabs for those who want it?

P.S. I am working on css file for this but I am not really a designer.  Plus I do not want to loose work when you pr

[2017-05-05 08:00] Tromzy commented on #3
I can confirm it too ! Thanks !

[2017-05-05 08:04] Tromzy commented on #5
I can confirm the bad font rendering in Windows 10 (really crispy, like no anti-aliasing), but I haven't tested with the updated version yet.

[2017-05-05 09:00] Masclaux commented on #21
@spymastermatt no problem thank you for you work ;)

[2017-05-05 09:05] pinkdroyd opened #31 "Assigning tags does not set the color of the message in the message list"
When selecting a message and adding a tag (e.g. by pressing 1 on the keyboard for the standard red important tag) it should show the message in the selected color in the message list (even when it is currently selected imo, as it is in the standard theme).
This currently does not happen, tags are assigned but the message does not get colorized.

[2017-05-05 09:12] FerSabGar commented on #31
Hi @pinkdroyd,
See issue #27 for a solution (Message list lines & tags Colors).

[2017-05-05 09:15] pinkdroyd commented on #31
Thank you @FerSabGar, seems I skipped over that issue while searching for a fix.

[2017-05-05 09:19] pinkdroyd commented on #31
My second point still stands: It would be nice to have the text color of a selected message in the list in the color of the tag (as it happens in the standard theme).

[2017-05-05 09:22] FerSabGar commented on #31
Yes, it would be nice to solve the second point. I tried some without success :-(

[2017-05-05 10:14] arthurlogilab commented on #14
@spymastermatt thanks... it works now. Have a good week off.

[2017-05-05 10:47] ozo2003 commented on #13
ok, changing font-family works. at least that's good

[2017-05-05 11:25] conema commented on #30
@Abhinav1217 Yes, it is possible to disable square tabs!
You need to open the theme that you want to edit (for example dark.css, located in the themes folder) with a text editor and comment these rows:

- **Line 9**

`@import "../tweaks/square-tabs.css";`
To:
`/*@import "../tweaks/square-tabs.css";*/`

- **Line 77**

`background: var(--dark-light-background) !important;`
To:
`/*background: var(--d

[2017-05-05 11:55] conema commented on #31
@pinkdroyd @FerSabGar I'm building a fix for this but today is a busy day. However, if you want you can try to fix it by yourselves, I think that is only necessary add the *!important tag* to the css rules found in *tagColors.css* and copy these rules in our theme.

I will update you when a PR is ready. Sorry for the wait.

[2017-05-05 11:56] pinkdroyd commented on #30
@conema tried this with monterail, the problem here is that by completely excluding square-tabs.css the font color is dark on a dark background. This fixes this issue:

Do as you said in the _theme_.css in line 77:

`background: var(--dark-light-background) !important;`
To:
`/*background: var(--dark-light-background) !important;*/`

Go to square-tabs.css, and exclude everything except for this:
[c

[2017-05-05 12:01] conema commented on #30
@pinkdroyd Thank you for the correction! I didn't think about it. However my workaround should work with the dark, full-dark and light theme.

@Abhinav1217 Let us know!

[2017-05-05 12:32] qazip commented on #27
Changing what @FerSabGar suggested makes it impossible to see message names in the message list, unless a message is selected or tagged. This is true for the full-dark theme, atleast.

[2017-05-05 12:50] Moini commented on #14
It's better now :) It doesn't work for the Enigmail tool bar, though. Would you like a new issue?

[2017-05-05 13:51] Abhinav1217 commented on #30
@conema
Your method does bring back the curved tab but just like @pinkdroyd said, There was an issue of dark text on dark background ( and light text on light background for light.css ) for unselected tabs i.e. tabs other than current tab. So his method is what I would recommend.

After working on thunderbird with light.css all day, I would suggest a bit of a contrast adjustments at some places. A

[2017-05-05 13:51] #30 closed

[2017-05-05 15:05] vlag24 commented on #14
Hello, thanks for this amazing theme ;)
one issue though : a few minutes ago I downloaded the last version but there is a background problem on my Manjaro Arch Gnome linux laptop. The background is white instead of the blue/green one of Monterail on the left panel (it's seems the light one) and no new icons...
![capture d ecran de 2017-05-05 16-41-59](https://cloud.githubusercontent.com/assets/650

[2017-05-05 15:50] conema commented on #30
@Abhinav1217 I'm happy to hear that!
Thanks for the suggestions and for reporting the issue with the scrollbar, I will look for it. Issues are always welcomed, don't be afraid!

By the way you should thank @spymastermatt, he's the creator!

[2017-05-05 17:10] wanderleihuttel opened #33 "Modifications to improve square tabs on monterail theme"
Modifications to improve square tabs on monterail theme

[code]

Regards Wanderlei

[2017-05-05 19:03] conema commented on #31
@pinkdroyd @FerSabGar I'm happy to announce that the PR is now online #34!

[2017-05-05 19:14] NikEfth opened #35 "Feaature Request: The email list be able to have two lines"
Now that the space (height) in email list is larger, would be cool to have two rows e.g. one for title and the second for authors etc

[2017-05-05 19:19] conema commented on #29
Hi @walkero-gr, I can't reproduce the problem that you are describing. Are you speaking about this little triangle that is used for change the order of the column?
![immagine](https://cloud.githubusercontent.com/assets/12801153/25760549/95521994-31d7-11e7-8275-a61add1ced79.png)

If yes:
- What theme are you using (dark, fulldark, etc..)?
- The button works without the theme?
- Even if you click th

[2017-05-05 19:29] powelleric opened #36 "Can't increase font size (Mac OSX)"
Not sure if this theme is even supported on Mac but I was able to get most everything working.  The only problem is that the font seems small and I have adjusted the line below in `userChrome.css` but it does not change anything.

` --subject-line-font-size: 200%;`

What is everyone else's experience with Mac?  I wonder if a previous extension messed up the font mappings...

[2017-05-05 19:54] conema commented on #36
Hi @powelleric, this theme should work without problems with Mac OSX.

May you send a screenshot of your page, so I can see if it is *normal*?
What text do you want enlarge? (The code that you had pasted should edit only the email subject in the header of email)
It is possibly enlarge all the text present in the theme and I will give you istructions to do it after you answer these question.

Just

[2017-05-05 20:05] powelleric commented on #36
@conema

Thank you for your quick response.  You are correct.  The parameter that I was changing was just for the email subject and that was working just fine (now that I know what it is actually doing).

Attached is a screenshot. I have included the Mac toolbar at the top of the screen to give you some perspective.  You can see the text is a bit smaller than comfortable.  Text size more like that

[2017-05-05 20:06] Oter2k opened #37 "[OSX] Folder tree higlight overlapping into message list"
First, I love these themes! Excellent work!

Then the issue:

There seems to be a problem where the higlighting of folders in the folder tree overlaps into the message list area. Also, the colour of the column header does not extend all the way to the folder view. I've attached a picture, where to issue should be much clearer than my attempt at words. The white areas are obviously my cutting out m

[2017-05-05 20:28] conema commented on #36
@powelleric You're welcome!
I agree with you, it's a bit small.

However, there are a lot of way to increase the font size, the important thing is to add all the code to the end of *userChrome.css* file.
For example, this code should enlarge folder, thread (where email are) and menu :
`#mailContent{
  font-size: 15pt !important;
}`

Obviously you can change the dimension of the font by changing th

[2017-05-05 20:39] powelleric commented on #36
That worked great.  15pt was much, much too big.  I scaled it back to 12 and it looks perfect, so I'd say that the default was probably 10pt or smaller - probably too small for most people's taste.

Oh, and for anyone else, do just as @conema said:
Add the new properties at the very end of the file, after the closing brace for `:root`. And leave the comment character at the beginning of `mailConte

[2017-05-05 20:39] #36 closed

[2017-05-05 20:43] powelleric opened #38 "Arrow to toggle expansion of account folders is too close to envelope icon (Mac OSX)"
As the issue says, the arrow runs into the envelope icon in the folder pane.  Doesn't look like this on the screenshots, so I'm guessing this is a small bug with Mac.

![2017-05-05_14-42-31](https://cloud.githubusercontent.com/assets/11025490/25763599/2046d300-31a1-11e7-8c8c-7e919719a69f.jpg)

[2017-05-05 22:11] FerSabGar commented on #31
@conema, in path #34 you are using a color gradient for those lines tagged according to the tag color.

The result is nice.

After I was thinking that coherency could be enhanced if a gradient was also used in normal lines (for messages without any tag). So I tested a solution for monterail theme which consists in making some changes in "_based.ccs" to draw a gradient based on --message-list-backg

[2017-05-06 09:30] conema commented on #31
@FerSabGar Thanks for the suggestion, if you want you can try to create the gradients for all the three theme and create a pull request. Collaborators are always welcome 😀

[2017-05-06 10:11] conema commented on #37
Hi  @Oter2k, I can't reproduce your issue, may you try to change these things in your css?

Open your icons css set with an editor, for example I'm using the *lightDarkIcons.css*. Locate this code near **line 13**:
#threadCols {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#threadTree treechildren {
	margin-left: 5px !important;
	margin-right: 5px !important;
}

Comment all th

[2017-05-06 14:00] conema commented on #38
@powelleric #39 is ready. Sorry  for the wait, I was having problem with my local repository 😄
Let me know if it works!

[2017-05-06 17:28] FerSabGar commented on #31
@conema With the following code in _base.css the gradient looks good enough for all themes.
The code:
[code]
How it looks in each theme:
**Monterail**
![image](https://cloud.githubusercontent.com/assets/28186707/25774460/37c6abec-328f-11e7-8f48-8642af1091ef.png)
**Dark**
![image](https://cloud.githubusercontent.com/assets/28186707/25774483/c028ccea-328f-11e7-9ac2-7681e9d716a1.png)
**Fulldark**
![i

[2017-05-06 19:40] Oter2k commented on #37
Hi. I commented out what you suggested (line 11 through 19) in the icon set darkIcons.css, but it didn't really change anything as far as I could tell. Or at least it didn't fix the issue.
Theme is system.css.
Tried disabling all addons, in case one of them were interfering somehow, but that didn't do anything either. Appearance is set to Default.

<img width="1051" alt="thunderbird" src="https://

[2017-05-06 19:54] conema commented on #37
@Oter2k May you paste your userChrome.css and your system.css?

[2017-05-06 20:40] FerSabGar commented on #31
I did it!
I managed to draw a gradient highlight for non-tagged messages in messages list acoording to differrent levels of the same color. With my code it will be easy to personalize the gradient colors through the  _userChrome.css_ file.
The gradients look like this:
**Monterail**
![image](https://cloud.githubusercontent.com/assets/28186707/25775729/477f1dea-32ac-11e7-8386-e17f3b81c84f.png)
**Da

[2017-05-06 23:27] conema commented on #31
@FerSabGar Sorry for the late answer, I wasn't at home all the day. I saw that you have been create a commit with your changes, I'm very happy to see that. Open source projects, like this, serve for learn new things every day.
Tomorrow I will look at you changes (It's 1:30 AM now, not a good hour for look some codes 😂).
Hope you will help us even more in the future and I hope you enjoyed it.

[2017-05-07 01:52] FreshhhHub opened #43 "It doesn't work properly for me... not modded fully"
It doesn't work properly for me...

I followed all those steps :

- renaming extracted folder as "chrome"

- edited system.css to import the theme wanted

- copied it manually to C:\Users\MyUserName\AppData\Roaming\Thunderbird\Profiles\RANDOMDIR.default\chrome

but something isn't working properly:
only top bar color is modded not the left panel and main background...

tried to import two differen

[2017-05-07 02:31] qwertychouskie commented on #43
You are supposed to edit userChrome.css, in the chrome folder.

[2017-05-07 02:40] FreshhhHub commented on #43
yeah you are right i guess i need some sleep (:

[2017-05-07 02:40] #43 closed

[2017-05-07 12:35] conema commented on #27
@qazip This issue should be resolved with #40

[2017-05-07 14:10] mlmilliman commented on #10
Thanks for the update, but those special Google folders are still not showing. Well, the icon shows but the text is the same color as the background until highlighted. I like the other changes made. The theme looks much cleaner.

[2017-05-08 00:52] FreshhhHub opened #45 "tabs shape design not modded & how to change bg for e-mail content box & others tabs"
hi there :-)

tab shape design should be:
![monterail inbox original](https://cloud.githubusercontent.com/assets/28495425/25786541/6722284a-3397-11e7-8f0e-62cf0f93efd0.png)

mine looks like this:

![monterail inbox mine](https://cloud.githubusercontent.com/assets/28495425/25786599/71c04858-3398-11e7-8fba-85c865a472a4.png)

why?

three more questions:
- how to modify username@gmail.com text color i

[2017-05-08 05:42] Oter2k commented on #37
userChrome.css

[code]

system.css

[code]

[2017-05-08 10:39] walkero-gr commented on #29
Sorry for the late answer.

Yes, I am talking about the triangle at the columns header, in the emails list. My setup has the Subject, From, Date, Size columns.

1. I am using the dark theme, but this happens at all the themes
2. Yes. The arrow shows the sorting column and the order.
3. If I click the button, the order changes, but the arrow doesn't. If I click at an other column, the order also ch

[2017-05-08 10:45] FerSabGar commented on #31
Yes, I enjoyed it. Thanks! ;-)

[2017-05-11 01:57] FreshhhHub opened #46 "* TIP * Ultimate CSS Gradient Generator"
not an issue but a suggestion...
this online tool might be useful for themers...

Ultimate CSS Gradient Generator
A powerful Photoshop-like CSS gradient editor from ColorZilla.

http://www.colorzilla.com/gradient-editor/

[2017-05-12 10:12] volkanguzel opened #47 "Thunderbird 54.0 does not have a chrome folder"
I did some things in the description, but I could not find the chrome folder.

[2017-05-12 18:50] K4lim commented on #45
I got the same problem.

[2017-05-15 07:48] #47 closed

[2017-05-15 21:30] spymastermatt commented on #45
In all of the themes that forcibly set the colors (i.e. all except system), the tab shape is changed because I have not yet found a way to reliably make Thunderbird change the background color of the tab including the color of the curved parts, which as far as I can tell are drawn by JS.

I did try changing the --fgTabBackgroundColor variable but it only seems to change the color of the middle of

[2017-05-15 21:48] spymastermatt commented on #45
Regarding the other questions:
1. #folderTree > treechildren::-moz-tree-cell-text(folderNameCol) is the selector you want. If you only want to select the first folder you might need try #folderTree > treechildren::-moz-tree-cell-text(folderNameCol):first-of-type
2. Go to Preferences > Display > Colors and then select the colors you want
3. For the write box, try #content-frame. As for the address

[2017-05-15 21:49] spymastermatt commented on #16
@Girtablulu Did you try checking for other profile folders? I'll close this issue in a couple of days if I haven't heard from you.

[2017-05-15 23:52] spymastermatt commented on #29
This should now be fixed :)

[2017-05-15 23:52] #29 closed

[2017-05-15 23:54] spymastermatt commented on #37
@Oter2k Do you get the same problem in the other themes? It may be an issue in the _base.css, which affects all themes.

[2017-05-19 09:18] SimonAltrogge opened #50 "Folder pane background just plain grey"
As you can see in the picture, the background of the folder pane has not changed for me. I am using the monterail theme for Thunderbird 52 on Windows 10.
![folder-pane](https://cloud.githubusercontent.com/assets/8720147/26241407/cf45832c-3c84-11e7-82e8-516947e88754.PNG)

[2017-05-21 03:00] mlmilliman commented on #10
The latest pull from git fixed this issue. Looks wonderful with all themes. Closed! Thanks for the fix.

[2017-05-21 03:00] #10 closed

[2017-05-21 08:16] #16 closed

[2017-05-21 17:52] Oter2k commented on #37
@spymastermatt Yeah, I just went through all five themes, and they all had exactly the same issue.

I can say that I don't have this issue on my desktop, running Linux. There, I think, I have the first version which was released.

[2017-05-23 18:38] spymastermatt commented on #50
Hi @SimonAltrogge thanks for pointing this out. You are correct. In fact on windows 7 the theme appears utterly broken :( with the tab bar and toolbox also totally unaffected by the userChrome.css

I will have a look at why this is. Unfortunately as I use linux, windows bugs are a bit more difficult for me to track down and fix. How willing are you to try out a few changes if I create a branch for

[2017-05-23 18:40] spymastermatt commented on #46
Thanks for this tip @FreshhhHub  :)
I am hoping to work on a new project, starting in a few days, which is a web page that allows people to create their own custom userChrome from a base theme (basically the ones on here) and then using sliders, toggles etc to customise (hopefully with a live preview) So i'll probably find out if the colorzilla guys can let me embed their gradient creator for that

[2017-05-23 18:41] spymastermatt commented on #46
I am, however, going to close this issue so it's not on the list :)

[2017-05-23 18:41] #46 closed

[2017-05-23 18:43] spymastermatt commented on #37
Ok so it looks like an issue in _base.css. Can you try opening that file and commenting the line which changes the box-sizing property and see if that fixes it?
Thanks

[2017-05-23 18:49] SimonAltrogge commented on #50
Hi @spymastermatt,
thank you for your attention to this matter. I am definitely willing to try out changes, if you do not mind having to wait for a response a day or two, since I cannot guarantee always being able to test something right away.
I really appreciate your dedication to fix bugs for Windows, even though you do not use it yourself!

[2017-05-23 19:01] spymastermatt commented on #35
I also would love this but its a more complicated feature to add.
I think I may be able to do it by changing the display values for the rows and cells to utilise the new flex layout, which would allow me to reorder and stack them as I please.
Unfortunately this is very much wishlist at the moment

[2017-05-23 19:03] spymastermatt commented on #50
That's great! OK I will have a look through the code and see if I can see an obvious problem. I also need to update my thunderbird and check it's not a problem with the version rather than the OS.
Thanks for helping out!!

[2017-05-23 19:24] qwertychouskie opened #51 "Update screenshots"
The screenshots in the readme are outdated.

[2017-05-23 19:41] qwertychouskie opened #52 "themes/system.css imports non-existent file tweaks/tag.css"

[2017-05-23 20:31] qwertychouskie opened #53 "Enabling or disabling tweaks/dark-folder-pane.css does not change background color"
Thunderbird 45.8.0, Greybird, Xubuntu 17.10

[2017-05-25 19:44] matiasblomqvist commented on #50
I am having the same problem with Xubuntu 16.04

[2017-05-25 22:40] #50 closed

[2017-05-25 22:43] spymastermatt commented on #50
Problem was the combination of dark folders tweak with non-system theme. Now fixed :)

[2017-05-25 22:46] spymastermatt commented on #53
The dark folders tweak is for "dark folder pane style when using the **system theme with dark menus**" (i.e. Ambiance)
If you are using a system theme with light menus (like Greybird) then it will have almost no effect

[2017-05-25 22:47] #52 closed

[2017-05-25 22:48] SimonAltrogge commented on #50
Yes, it is. Thank you very much. The text is still black though and therefore not very readable. Is this also a bug or do I have to change any settings?

[2017-05-25 23:31] spymastermatt commented on #50
Quite right. Thanks for spotting that. It didn't show up for me because I have a theme with white text by default. It is fixed now

[2017-05-26 06:58] SimonAltrogge commented on #50
Perfect, thank you very much!

[2017-05-26 14:43] lupa18 opened #55 "Wrong text color in search box"
Hello,
I'm using fulldark and it seems to be something wrong with text color and search box: I can't see the text I write:

![seleccion_395](https://cloud.githubusercontent.com/assets/463429/26499324/2674981a-4200-11e7-952a-473cddb6f57b.png)

[2017-05-26 14:46] lupa18 opened #56 "Different icon or color folder for saved search folder""
When you make a search and save it, then, appear a folder that is different from the others.
Thunderbird assign a different color and icon for it, but in fulldark appear to be exactly the same of the others:

![seleccion_396](https://cloud.githubusercontent.com/assets/463429/26499462/bc48828e-4200-11e7-9758-a7f09e12e631.png)

(in the screenshot, folder marked with the arrow is actually a search sa

[2017-05-27 16:45] #53 closed

[2017-05-29 15:20] #56 closed

[2017-05-29 15:32] lupa18 commented on #56
<3

[2017-05-29 18:10] #27 closed

[2017-05-29 18:18] spymastermatt commented on #31
Hi all.
The fix for the missing tag colors is now up, Thanks to everyone who helped on this!

@FerSabGar @conema I'm not sure if you saw my other comment so I'll copy it here:

Regarding gradients: whilst I like them (believe it or not I'm not personally a massive fan of flat design) the idea of this theme was to conform to a particular set of mockups. Since those mockups are very much flat-design

[2017-05-29 18:19] #31 closed

[2017-05-29 19:08] #38 closed

[2017-05-29 19:39] #55 closed

[2017-05-29 19:46] #13 closed

[2017-05-29 20:44] FerSabGar commented on #31
Hi.
@spymastermatt I saw your comment and it is OK for me, it makes sense.

So I've understood that you have merged the @conema's pull request with your own modifications in order to get tag colors. And regarding gradients, they must be included via another project. I will look forward to know about it, and as I said, I'm new in this, but I'll try to help if I can.

Thank a lot for your work guys.

[2017-05-29 21:36] FerSabGar commented on #31
Hi,

Just two comments:

a) For me _flaggedCol_ is more elegant with _border-left: 3px_

b) I would rather use gradients than solid color for highlight backgrounds. Maybe a more elegant option would be use the normal highlighted color, using only the left border color to draw tags.

I made a personal version merging @conema and @spymastermatt improvements. I like it.

[2017-05-30 17:57] lupa18 opened #57 "Main menu text color problem - monterail theme"
It seems to be the same color problem in search box and main menu in monterail theme. Look at the screenshot:

![seleccion_404](https://cloud.githubusercontent.com/assets/463429/26597321/a70358b2-453f-11e7-84e5-d171ee0f841c.png)

[2017-05-31 07:37] spymastermatt commented on #57
Hi @lupa. Was the menu issue not fixed by the search box fix I pushed? Can you try the latest version and let me know. Thanks for reporting these :)

[2017-05-31 09:03] Somnambulated opened #58 "Tag colors not applied to message list"
The text nor the background color change based on tags.

Confirmed the tag color does work with the Monterrail themes uninstalled.

[2017-05-31 09:11] spymastermatt commented on #58
Hi @Somnambulated I recently (Monday 29th) pushed a fix for this. Are you using the latest version?

[2017-05-31 09:16] Somnambulated commented on #58
Ohp, I did not see that - my mistake, I will get it now :smile:

[2017-05-31 09:17] spymastermatt commented on #58
Not a problem. Let me know it works :)

[2017-05-31 09:22] Somnambulated commented on #58
You have single-handedly fixed Thunderbird's biggest UI issues.

[2017-05-31 09:22] #58 closed

[2017-05-31 09:23] Somnambulated commented on #57
Confirmed fixed on mine after installing the update.

[2017-05-31 09:30] spymastermatt commented on #58
Haha thanks, I'm glad you like it but it's anything but single-handedly. The design itself comes from this incredible mockup:
https://monterail.com/blog/2016/the-power-of-email-clients-why-did-we-redesign-thunderbird?utm_source=Thunderbird&utm_campaign=Dribbble&utm_medium=blogpost%22

Plus I've had a lot of help from people submitting tweaks/fixes and improvements. In fact the fix for this issue a

[2017-06-05 15:23] Oter2k commented on #37
Sorry for the late reply.

Opened _base.css, searched for "box", and reasoned that line 89 and 90 would likely be the one you're referring to.

[code]

If so, commenting them out didn't change anything.

I downloaded the newest version to see if the problem persisted there, and found that the overlap is now only present when I select a folder which is besides the inbox window, but is gone when the

[2017-06-06 02:54] jacklenox commented on #57
Yep, I use the "dark" theme and this is still happening. Beautiful theme all the same though!

[2017-06-08 19:10] lupa18 commented on #57
In dark theme works well. Only having problems when create new message, but I'll open new issue.

In monteraill still happening (I have last github version). Attached image:

![seleccion_417](https://user-images.githubusercontent.com/463429/26946193-84787f38-4c5c-11e7-8288-8934afa1e5ab.png)

[2017-06-08 19:11] lupa18 opened #59 "New message text button colors (dark theme)"
As you can see, something is not going right with colors there:
(I'm using latest github version)

![seleccion_415](https://user-images.githubusercontent.com/463429/26946281-be309058-4c5c-11e7-9941-1049330cf0d8.png)

[2017-06-08 19:27] jdreesen commented on #59
It could be improved in monterail theme, too.
(I'm using latest github version)

![monterail](https://user-images.githubusercontent.com/424602/26946907-1ee0aaf8-4c91-11e7-839f-0aac01ca4f7c.png)

[2017-06-09 16:43] klsgrtx opened #60 "Importing tag.css multiple times in all themes except for SYSTEM"
I've noticed that ../tweaks/tag.css is loaded twice? Is there a purpose for this?
Thunderbird seems to load faster when I comment out one of the dupes, but I'm not sure if you're trying to render objects in a particular order.

[2017-06-09 16:54] klsgrtx commented on #45
For the tab shapes, I played around with adding the following lines to .tabmail-tab .tab-content classes:
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;

I found these suggestions on this website:
https://css-tricks.com/better-tabs-with-round-out-borders/

[2017-06-10 23:12] allienworks opened #61 "Licence?"
Hey @spymastermatt,
first of all, amazing work on this theme! It truly brings Thunderbird to the next level.

I wanted to ask – how is this licenced? You haven't mentioned it anywhere in the repo/readme.
Thanks!

[2017-06-15 10:29] franklinovitch commented on #57
Hi, PR #62 should solve this issue for Monterail theme!

<img width="591" alt="capture d ecran 2017-06-15 a 12 26 47" src="https://user-images.githubusercontent.com/6093315/27177316-38d96dac-51c6-11e7-9d85-e8f2ab4ed33f.png">

Have a good day :)

[2017-06-15 16:19] spymastermatt commented on #61
Hi @allienworks Glad you like the theme!

Re the license I never really thought about it but I guess probably GPLv3. I'll have a look tonight at the different licenses and pick one (basically whichever gives people the most freedom). Once I have, I'll update the readme and the code

[2017-06-16 06:43] jacklenox commented on #57
This doesn't seem to work for me, though I'm not sure if that's just because I need to bust the cache. Anyone know how to do this?

[2017-06-16 10:27] walkero-gr opened #63 "Main menu became unreadable"
After the commit #876559fd908868842a9f3df9ec852c1f21d0bad9 the change at the file dark.css made the main menu (from the burger button) of Thunderbird to have white text, and unreadable, because it has light grey background. When I reverted the change, the color became again black.

Thunderbird v.52.1.1 on Linux mint

[2017-06-18 14:50] Darcidride commented on #59
Hi, same issue here with the Dark theme :
![capture du 2017-06-18 16-48-47](https://user-images.githubusercontent.com/8619233/27261573-275bbfb2-5446-11e7-962e-3cba16cebc7c.png)

Version of Thunderbird : Thunderbird 45.8.0
OS : Debian 8.8 Jessie

[2017-06-19 08:06] Stanzer commented on #45
@FreshhhHub : Did you finally manage to get rid of the blue colour signalling that the account has received a new mail?
![screenshot33](https://user-images.githubusercontent.com/7616441/27275155-8288df2e-54d6-11e7-838b-b9fa8ab7dcdb.png)

I entered this in my dark_perso.css

`#folderTree > treechildren::-moz-tree-cell-text(folderNameCol, newMessages-true),
#folderTree > treechildren::-moz-tree-cell

[2017-06-22 17:56] PrzemekSkw commented on #63
Hi, I have set monterail theme and have the same problem. I don't know what to change to make menu readable.

[2017-06-22 19:03] PrzemekSkw commented on #57
@franklinovitch Hi, what is PR #62 ?

[2017-06-24 14:07] clawoflight commented on #1
Any news on this? :)

[2017-06-28 13:01] Oter2k opened #64 "Installation instructions for macOS for readme.md"
Installation instructions for macOS, if interested. Included a how-to-get-there, but it can be skipped if making the readme too long.

In **macOS (OSX)**, unzip the download. Move the extracted folder *thunderbird-monterail-master* to
	`~/Library/Thunderbird/Profiles/[randomletters and numbers].default/` and rename it to *chrome*.

To get there via GUI:
* Open Finder. Use ‘Go to Folder’ (CMD+shift

[2017-06-29 18:24] #63 closed

[2017-06-29 18:48] jacklenox commented on #57
Hmm, this doesn't seem to have fixed it for me. :confused:

[2017-06-29 18:58] #60 closed

[2017-06-29 19:09] spymastermatt commented on #61
I have chosen the GPLv3 to give the most freedom :)

[2017-06-29 19:09] #61 closed

[2017-06-29 19:15] #64 closed

[2017-06-29 19:17] spymastermatt commented on #57
Hmm @jacklenox have you edited any of the files (including the variables)?
Could you post any changes you have made. Thanks

[2017-06-29 19:17] spymastermatt commented on #57
Also, what OS are you using?

[2017-06-29 19:26] jdreesen commented on #57
Doesn't work for me either. Only change I made is switching from system to monterail theme.
This is how it looks for me on latest master:
![tb-menu](https://user-images.githubusercontent.com/424602/27706323-796892f2-5d11-11e7-96d6-e01ee06e2f4c.png)

[2017-06-29 19:44] jdreesen opened #65 "Very big menu separators in every theme except the system theme"
When e.g. writing a new mail the menu separators of the top flyout menu items are very big.
This appears in every theme except the system theme.

This is how it looks (in monterail theme):
![menu-separator](https://user-images.githubusercontent.com/424602/27706957-e8fbe7c0-5d13-11e7-8d8c-e059e69b6153.png)

I'm using latest thunderbird on Windows 10.

[2017-06-29 19:47] #57 closed

[2017-06-29 19:48] spymastermatt commented on #57
Well I'm an idiot!!
I fixed the issue and then tidied up the code and somehow managed to remove the fix in the process :s
It should now actually be fixed

[2017-06-29 20:40] spymastermatt commented on #65
@jdreesen Could you try the very latest menu colors fix  I have just pushed?

[2017-06-29 20:47] jdreesen commented on #65
Now they aren't dark anymore, but still rather big:
![menu-separator](https://user-images.githubusercontent.com/424602/27709573-e9031a0a-5d1c-11e7-88e1-63a6434ecfed.png)

Here's the system theme for comparison:
![menu-separator-system](https://user-images.githubusercontent.com/424602/27709575-ea470bba-5d1c-11e7-9837-4e0b9e3efee8.png)

[2017-06-29 20:51] jdreesen commented on #57
Now it's perfect, thx :)

Screenshot from latest master with monterail theme:
![main-menu](https://user-images.githubusercontent.com/424602/27709691-5470fd8e-5d1d-11e7-96c2-6933d5333193.png)

[2017-06-29 20:53] jacklenox commented on #57
Yep perfect, me too! Thanks @spymastermatt, and I understand the feeling – not an idiot at all! :grinning:

This theme is so awesome.

[2017-06-30 06:22] PrzemekSkw commented on #57
Hi, thanks for fix. Menu is OK but I find white font in New Messege window and Preferences:
![deepinscreenshot20170630081710](https://user-images.githubusercontent.com/25219988/27723405-3339397e-5d6d-11e7-8839-33a250e12a25.png)

[2017-06-30 10:49] appolyon opened #66 "Light coloured text on menu bar in full dark theme"
The text is legible on all the other themes except in the full dark theme where it is too light to read.

![Full dark menu](https://i.imgur.com/BFzZeoT.png)

[2017-06-30 11:59] FreshhhHub commented on #65
i like the separator bigger maybe not as big than first screenshot but sorry i think your much thinner version is uglier (personal taste)...  please share a medium size separator solution instead :)

[2017-06-30 17:42] spymastermatt commented on #65
@jdreesen Hmm, I''ll look into this.
@FreshhhHub Personal taste aside, my code shouldn't have any impact on the size of separators. The only reason I change them at all is because the colors are not suitable on some themes (e.g. when I use the monterail theme with a full dark gtk theme, which has light separators)

[2017-07-06 18:58] conema commented on #65
@jdreesen Here a quick workaround for you, add this code at the end of  _base.css:

[code]

[2017-07-06 20:41] conema commented on #59
Hi @lupa18, @Darcidride
My new PR should fixes the issues (#68), see also #67 for dark theme.

@jdreesen, your problem is similar, but if we change the color of the background or the color of the text, it will be changed also in the front page (where email are shown). This wouldn't be good looking, I will try to find a solution in the next days.

[2017-07-07 10:42] conema commented on #66
Hi @appolyon, you can edit the font color by editing the "dark-text-color" variable (themes/fulldark.css, row 36). I personally prefer this color, but if you like, you can edit it and even recommend a better color.

[2017-07-08 09:31] appolyon commented on #66
Thanks for the tip @conema - I think it would look better to change the menu bar background colour to match the mail toolbar and leave the font colour as is. Do you know where I would need to make that edit?

[2017-07-09 15:42] conema commented on #66
Sorry @appolyon! I misunderstood what you wrote, it was solved with my recent PR (#68), so you need only to update your theme.

[2017-07-10 09:03] appolyon commented on #66
@conema thank you very much for the update!

[2017-07-10 18:34] lupa18 commented on #59
It works for me ! thanks!!

[2017-07-10 18:34] #59 closed

[2017-07-10 19:11] #65 closed

[2017-07-11 21:08] jacklenox commented on #57
Yep, the same thing is happening for me too. ^^

[2017-07-11 22:43] jdreesen commented on #57
I can confirm that.

[2017-07-13 17:04] ConorIA commented on #1
There was a suggested made weeks ago to base an extension on @spymastermatt's work: https://bugzilla.mozilla.org/show_bug.cgi?id=1325184

[2017-07-19 22:21] onerousbudgie opened #70 "Having trouble installing themes on Windows"
I followed the instructions in the Readme.  However, only the icons seem to have been installed not any of the background colors, highlights or fonts.  I tried to change it to the Monterail theme but nothing would change.  Would anybody know how to fix this issue? I've attached pictures.  Thanks
![image](https://user-images.githubusercontent.com/30302233/28392193-e2875384-6cae-11e7-9ff6-fed3dd3c7f

[2017-07-20 10:43] conema commented on #70
Hi @onerousbudgie. Did you edit the 29th row of userChrome.css with your favorite theme?

[2017-07-20 20:15] SimonAltrogge opened #71 "Problems with font colour"
It seems to me that there are some problems with the font colours using the "monterail" theme on Windows 10, Thunderbird 52.2.1

The "calendar" and "tasks" tabs are barely visible and there is white text on white background in the search field.
![capture2](https://user-images.githubusercontent.com/8720147/28436888-e7aad1c0-6d98-11e7-8d00-4f3a36d86f2b.PNG)
![capture](https://user-images.githubuserc

[2017-07-21 13:51] bserrao commented on #55
I'm getting this issue with monterail and dark themes. I haven't tried the full dark.
Looking at the previous solution i've tried changing the color in tag.css file but nothing changes.

It might be related to GTK Theme, because i tried changing the theme to Adwaita-dark wich changes the input box background to a dark grey and this way i'm able to see the white text. Otherwise the input background

[2017-07-21 14:09] bserrao commented on #71
Yep, i have the same behaviour on linux.
I've also commented on "Wrong text color in search box #55" issue, which is closed but seems to be the same problem.

[2017-07-24 15:39] gitJWR opened #72 "Feature Request: Add Lightning Integration"
The theme looks great (using "full dark"), but it does not seem to extend to my Lightning calendar...which looks a little out of place now.

[2017-07-27 09:25] k1l1 commented on #5
If this is still an Issue:
After tweaking it a bit, I have no Problem under Windows 10.
just uncomment ... in userChrome.css
:root {
  /*---- General Options ----*/
  **--default-font: var(--system-font);** /* Change to var(--system-font) to use your default font, or specify a font name */
  /*--menu-text-color: MenuText;*/

  /*---- Highlight Colors - Used if more specific ones aren't specified b

[2017-07-31 18:25] fcastilloec commented on #71
I can confirm this issue on Ubuntu 16.04 and Elementary OS. This is also a problem on the Preference tab titles.

[2017-08-08 11:37] samtuke opened #73 "Tab text invisible due to low contrast on Thunderbird Preferences"
Background white + text white = invisible tab names on the Thubrderbird preferences page.
![thunderbird preferences_262](https://user-images.githubusercontent.com/695422/29070237-bde04e6a-7c3e-11e7-8db8-e81ae24305d2.png)

[2017-08-14 05:28] onerousbudgie commented on #70
I did (Under the select theme here). It still doesn't work though

[2017-08-14 07:12] conema commented on #70
May you paste the contents of userChrome?

[2017-08-15 02:54] onerousbudgie commented on #70
/*Copyright (C) 2017  Matthew Richardson

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; wit

[2017-08-26 05:52] Anshika-G commented on #73
Hi!
I'm a beginner and this is my first bug can you pls guide..

[2017-08-28 09:24] spymastermatt commented on #73
Hi @Anshika-G of course. What would you like help with?

[2017-08-28 09:25] spymastermatt commented on #73
Hi @samtuke
Sorry I've been away for the past 3 weeks. I'll be looking into this and various other poor contrast bugs in the course of the week :)

[2017-08-28 09:30] samtuke commented on #73
Thanks @spymastermatt

[2017-08-28 09:40] Anshika-G commented on #73
I would like to fix this(change contrasting) bug

[2017-08-28 09:44] spymastermatt commented on #73
@Anshika-G OK. Do you have a fix in mind and want to submit? Or would you like me to show you how to find the problem and resolve it?

[2017-08-28 09:55] Anshika-G commented on #73
Actually I'm a beginner... so can you pls show how to find the problem and resolve it
Thanks

[2017-08-28 19:01] klsgrtx commented on #71
I am also seeing this - Windows 10. Both the search field text and the preference/options tabs - text matches background colors.

[2017-08-31 20:20] ronreed55 commented on #70
Brand new here. I'm encountering the same problem. Are there any responses to this topic?
Thanks, Ron

[2017-09-06 02:54] jyrkij commented on #37
I can confirm this exists. MacOS 10.12.6, Retina MBP 13", Thunderbird 52.3.0 (64 bit). It seems to be related to system settings *General* -> *Show scrollbars* -> *On scroll* (not sure these are the exact names, my system isn't in English). If I change the setting to *Always* the overlap goes away.

[2017-09-06 10:46] conema commented on #70
@onerousbudgie Sorry for the late answer, I was abroad for the holidays. You should edit row 29th:
`@import "themes/dark.css";`

@ronreed55 Update me if this works for you too.

[2017-09-06 11:13] conema commented on #71
@SimonAltrogge @bserrao @fcastilloec @klsgrtx Watch out the #74, this should fix your problem!

[2017-09-06 11:44] conema commented on #73
@samtuke Are you using monterail theme? This should be fixed in #74, please tell me if it works.

[2017-09-06 12:00] samtuke commented on #73
Thanks for the fix! I downloaded a zip from your repo branch and installed it, but the result was that no theme was applied (as far as I could tell). Possibly due to the way that I installed it. I'd rather wait until this is merged to master before testing again.

[2017-09-07 11:52] klsgrtx commented on #71
@conema I incorporated your changes into my local install. The Option tabs and search text are now visible in the monterail theme.

[2017-09-07 19:01] #66 closed

[2017-09-08 17:33] conema commented on #73
@samtuke The PR is now merged! Let me know if this resolves your issues with monterail theme.

[2017-09-27 10:31] sgouros opened #75 "No changes when applying the theme"
Hello

Followed the instructions but no changes take place even after restarting. It seems that chrome folder is ignored. Any ideas?

Thunderbird version: 52.3.0 on Ubuntu Gnome 16.04 LTS

Here's the console output in case it helps

[code]

[2017-09-30 18:56] SylwesterZarebski opened #76 "Feature request: Convert to Stylish theme/style."
It would be very nice to convert/create alternative version to Stylish theme/style. This would be very comfortable for users to install theme and use.

[2017-10-06 12:18] fbruetting commented on #14
I have a problem under Debian Stretch / Gnome 3.22 / Adwaida / Thinderbird 52.3.0:
• I have no background color (it’s standard grey instead of this blueish/greenish color from your screenshots)
• My fonts are black so they’re readable on the grey background, but for the correct background, the fonts should be white.
• Because of the grey background, I don’t see the arrows (for browsing the folder

[2017-10-20 22:10] framesGist opened #77 "How could I change the width of the scrolling bar?"
Hello,
First, thanks for the awesome theme,
How can I change the width of the scrolling bar? I'd like to make scrollbars more thin
...to fit the Arc theme.
Thank you

[2017-11-15 10:49] babitty commented on #37
Thanks @jyrkij for that finding.

I've noticed that the overlap in the highlight row is precisely the same as the width of the scrollbar. A workaround I've found, in the event that the use-case is such that scrollbars are always shown, is to add the following line in _base.css:
[code]

... where further down in the same file, we have the (max-)widths defined as 10px:
[code]

Reducing the (max-)wid

[2017-11-16 13:42] AmarOk1412 opened #78 "Bad title for mail sometimes."
Hi,
awesome theme, thanks, use it since a while.

The only thing I don't like is sometimes, when I click on a mail, the title doesn't change and stay like the last mail clicked. It's reproductible, but just in some folders (For example, cf my screen, it works perfectly in the inbox folder, but not in the Github Folder (the title is wrong here, as the To:))

![1510839577_0839_16112017_](https://use

[2017-11-18 22:19] ajaykay opened #79 "Menu highlight font colour"
I can't read my fonts in any menus, they come up too light.

I'm using a 'fulldark' on a dark theme on Thunderbird 45.8.0, running OSX.

![menus](https://user-images.githubusercontent.com/33792814/32985249-70df021c-ccae-11e7-913d-16ddba1fc6a7.jpeg)

[2017-11-19 14:30] A-Shahbazi opened #80 "Feature request: Add Pantheon Mail like theme"
Pantheon Mail (a fork of previously named Geary mail client) is an email client with astonishing design. The email client is part of elementary OS and inherits design concept of the project. Trying your themes, they looked very similar to the Pantheon Mail design.

I want to ask if it's possible to add a theme to your package that is more aligned to Pantheon Mail?
Here's a screenshot of the app:
!

[2017-11-29 14:32] entodoays opened #81 "Feature request: make the mail row height adjustable"
I like these themes a lot, but I would love to have the email rows packed tighter. Maybe not as tight as the original, but a bit tighter.

[2017-11-29 15:15] entodoays commented on #81
I modified the css file manually and it seems that there were no adverse effects on the rest of the UI.

[2017-12-07 19:37] Wulfheart opened #82 "AppData and Tools not found"
Hello,

in the current windows version isn't AppData no longer available. I also don't know how to find the "Tools". Any suggestions?

[2017-12-10 09:54] GreyforestDigital commented on #77
Not sure if you've fixed this yet, but for anybody wondering:

In the "_base.css" file, there's a section for scrollbar adjustments.

`scrollbar {
	padding-right: 0px !important;
	width: 15px !important;
	max-width:15px !important;
	-moz-appearance: none !important;
	background: none !important;
	border: none !important;
}

srollbarbutton {
	width: 15px !important;
	max-width:15px !important;
}

s

[2017-12-11 10:19] framesGist commented on #77
Thank's a lot!!

[2017-12-16 11:17] Stanzer opened #83 "New Mail account color"
Hi,

I use a slightly customized version of the dark theme but there is one thing that has been bugging me since the beginning: When a new mail arrives, the **account name** changes to an ugly and hardly readable blue (at least on the background color I set).

And I cannot find which setting I should alter in order for it NOT to turn blue…

I should be very grateful if you could point me to the co

[2017-12-21 15:38] unixc3t opened #84 "what is the [random letters and numbers] mean?"
what is the [random letters and numbers].default mean?

[2017-12-22 16:20] andrefecto opened #85 "Theme top toolbar broken in Thunderbird Beta"
Beta Version:
![beta](https://user-images.githubusercontent.com/899058/34304890-b98ac53a-e709-11e7-8d74-4a7cc28b4991.PNG)

What it looks like:
![wrong colors](https://user-images.githubusercontent.com/899058/34304896-bd1b4594-e709-11e7-82ab-f42b2c907f78.PNG)

Not sure if this is going to stay broken when Mozilla moves this version out of beta but I thought I would put it up here so people knew.

[2017-12-24 00:38] verysame opened #86 "Customize fonts on Windows 7"
This looks great!
How can I customize the fonts on Windows 7?
I'm changing this:

--default-font: var(--light-sans-font);

into this:

--default-font: var(--Roboto Mono-font);

But I don't see any difference.

Even using a default system font, like verdana, doesn't change it:

--default-font: var(--Verdana-font);

I would actually leave it as is, the only problem right now is that there's a very s

[2017-12-24 00:42] qwertychouskie commented on #86
Try:

[code]

[2017-12-24 00:46] verysame commented on #86
Awesome! That works.
What's the right syntax for the size?
I'm trying:

--default-font-size: 16px;

[2017-12-24 00:47] qwertychouskie commented on #86
That sounds right, though I could be wrong.

[2017-12-24 00:49] verysame commented on #86
Thanks for helping, qwertychouskie.
I'll try something else as the font-size syntax above doesn't work.

[2018-01-01 01:41] Leproide opened #87 "[Windows 7 - 58.0b2] - Full dark is not full dark and various glitch"
[code]

![tardis leprechaun gmail com - mozilla thunderbird](https://user-images.githubusercontent.com/8448713/34465054-2251f3fa-ee9d-11e7-9e72-d214472848bf.jpg)
![posta in arrivo - leprechaun monocul us - mozilla thunderbird](https://user-images.githubusercontent.com/8448713/34465055-2273c4ee-ee9d-11e7-8360-777c7d3eaab8.jpg)
![scrivi nessun oggetto - thunderbird](https://user-images.githubusercon

[2018-01-06 08:14] mcmelnychuk opened #88 "Feature request: individual folder colors"
I really like these themes - thank you to all developers.
I'm wondering if it's feasible to allow for manually specifying colors of individual folders in the folder pane. Alternatively, could compatibility with the add-on Color Folders be added?
https://addons.mozilla.org/en-US/thunderbird/addon/color-folders/
(this add on still works for me even though it's supposed to only be compatible up to ve

[2018-01-06 17:29] Sam-Barnes-GitHub opened #89 "Broken"
I followed the readme exactly, and still can't get any theme other than the default light/light. I'm trying to get the dark folder pane, with light message window, or the "Dark" theme variant. Went into userChrome.css, and uncommented lines 34 and 38. What am I missing here?

[2018-01-08 18:44] Sam-Barnes-GitHub commented on #89
I figured it out! You have to replace the name of the theme specified

[2018-01-08 18:44] #89 closed, assigned to nobody

[2018-01-08 18:45] Sam-Barnes-GitHub opened #90 "Message Pane Zebra Stipes?"
Any way to make the message pane rows have zebra striping?

[2018-01-14 01:21] ghost opened #91 "Light theme not working on Windows 10"
Hi,

I just wanted to start by saying thank you for making those themes available to us, they look great!

I have been trying to use the "Light" theme, however it doesn't display right on Windows 10.

- The top bar, where the tabs are, isn't dark grey like it is supposed to be and is simply white.
- The highlight color is blue instead of orange.
- The folder icons that are supposed to be dark grey

[2018-01-18 10:15] londonuk371 opened #92 "Issue on window writing a new mail"
The montreil look for Thunderbird is very good but when I want to write a new mail buttons on "Send" line are written black with a dark background. How to fix that?
My options in chrome/userChrome.css are:
/******************************************************************/
/*********************** SELECT THEME HERE ************************/
@import "themes/monterail.css";
/***********************

[2018-01-24 08:24] Kcchouette commented on #85
Did you succeed to fix your problem, @andrefecto?

[2018-01-25 11:04] Rolf-Herbert commented on #91
Same for me, no rollover highlight either

[2018-01-25 20:18] andrefecto commented on #85
@Kcchouette I was not. I couldn't find the right classes to edit, I will edit my original post.

[2018-01-28 16:47] sklaes commented on #92
I do have the same issue

[2018-02-06 10:37] nevaris commented on #90
Hi @Sam-Barnes-GitHub I tried adding zabra striping by changing the _base.css file.
If you want to change the color of the zebra striping in the default theme (in this case to a light green) Adding this lines:
[code]
You have documentation on this link: [Zebra stripping - MozillaZine](http://kb.mozillazine.org/Zebra_striping)

[2018-02-06 19:06] conema commented on #92
Hi @londonuk371 @sklaes, are you using an updated version of this theme? That problem should be resolved by #69

May you post a screenshot of the menu bar? (press _alt_ in the new mail window)

[2018-02-06 20:26] conema commented on #91
Hi @RaceWish @TeamKinetic, these issues should be resolved in #93, let me know if it works.

[2018-02-06 20:46] conema commented on #86
Hi @verysame, for change the font size of _all_ the writings, you can try to add this between row 44 and 45 of userChrome.css (before :root):
`*{
  font-size: 16px;
}`

[2018-02-06 20:52] conema commented on #84
It literally means random letters and numbers, something like 12345xyz.default. Do you need help with the installation of the theme?

[2018-02-06 21:04] conema commented on #82
Hi @Wulfheart, AppData folder is available with Windows 10, to access it, write _%appdata%_ into the address field in any folder and after that press enter.
![immagine](https://user-images.githubusercontent.com/12801153/35883983-753b6aa2-0b89-11e8-88f2-4ec9db09752e.png)

[2018-02-06 22:34] RaceWish commented on #91
Hi,

Should I simply re-download the files or do I need to change the lines by hand?

Thank you.

[2018-02-06 22:44] ghost commented on #91
Hi,

I applied the changes, and it seems to work fine now besides the tabs.
The font is basically dark gray on dark gray, which means that it's pretty much impossible to read them.
It is also quite hard to make out where the tabs are due to them being the exact same color as the title bar. Perhaps the color separating the "inactive" tabs needs to be fixed.

Here is a screenshot:
![broken tabs](htt

[2018-02-07 12:37] conema commented on #91
Hi @RaceWish, I edited the last PR with some more fixes, these should resolve the folder text color and some other minor issues.
Edit: new PR #94
![immagine](https://user-images.githubusercontent.com/12801153/35916750-c6c1d992-0c0b-11e8-8d8e-487c8bfa8437.png)

[2018-02-07 13:58] londonuk371 commented on #92
@conema I downloaded the last version from https://github.com/spymastermatt/thunderbird-monterail with the same result.
I get this with alt:
![thumderbird-monterail](https://user-images.githubusercontent.com/22617037/35919982-d473fa10-0c16-11e8-9bf9-27f569a3c20f.jpg)
I tried to modify the file monterail.css at line 39:
  --monterail-text-color: #353535;
to
  --monterail-text-color: #f8f8f8;
Then I

[2018-02-07 15:35] conema commented on #92
Hi @londonuk371, this seems very strange, I cannot reproduce this issue. Which version of Thunderbird are you using?

However, for resolve your issue try to add this code at the end of themes/monterail.css (this is only for the alt menu, let me know if it works):
`#navigation-toolbox .menubar-text{ color:  #f8f8f8 !important; }`

[2018-02-07 17:25] londonuk371 commented on #92
@conema
Ok, almost done. What I had to comment and add in the file themes/monterail.css:
[code]

[code]
I miss only the icons in white on writing a new mail in the popup, which are grey (almost invisible):
![thumderbird-monterail-3](https://user-images.githubusercontent.com/22617037/35931139-1d9cf062-0c34-11e8-8987-d455a1efa554.jpg)

[2018-02-07 17:36] conema commented on #92
@londonuk371 For icons:

- The rows from 34 to 39 included, should be commented in userChrome.css
- monterail.css should include _../icons/lightDarkIcons.css_ (usually in row 27)

However there should not be these problems. Which version of Thunderbird are you using?

[2018-02-07 18:06] sklaes commented on #92
Replacing the following at the end of monterail.css:
`
 .toolbarbutton-1, .toolbarbutton-menubutton-button, #composeToolbar2{ color: var(--dark-text-color) !important; }
`
with
`
.toolbarbutton-1, .toolbarbutton-menubutton-button, #composeToolbar2{ color: #f8f8f8 !important; }
`
fixed the main issue
![image](https://user-images.githubusercontent.com/13706940/35932898-58df7366-0c39-11e8-85a8-e1c3b2

[2018-02-08 20:29] londonuk371 commented on #92
@conema Yes, sorry forgot to reply about the version of Thunderbird. My version is 52.6.0 (32 bits). Might be the last as I do all automatic updates.

@sklaes If you have this trouble by clicking on Addresses to see all collected addresses, there are icons but no text right to icons:
![thumderbird-monterail-4](https://user-images.githubusercontent.com/22617037/35996453-e04cbb82-0d16-11e8-819e-57cb

[2018-02-12 16:03] Tyree opened #96 "Theme isn't fully applying"
Just comparing my TB window with the screenshot of Full Dark. Just not quite there.
The image comparison kinda speaks 1000 words.

Here are a few of the more obvious things...
- The Mail Toolbar is dark gray instead of light gray. Same with the headings for the mail list.
- Search box is white.
- Bottom status bar is light gray
- The mail list headings aren't styled and have no padding.
- The scro

[2018-02-17 09:05] Spiderlinker opened #97 "Easy to use installation tool"
Last week I came up with the idea that it should be easier to install the themes.
I wrote a small application to realise my idea and this is what it looks like:

[https://github.com/Spiderlinker/ThunderbirdThemeSwitcher](https://github.com/Spiderlinker/ThunderbirdThemeSwitcher)

If you like it you could link the application in your Readme.md :)

![Preview](https://raw.githubusercontent.com/Spiderl

[2018-02-20 05:42] ghost commented on #91
Hi @conema,

Thank you for your answer, your edits have indeed fixed the issue for me!
If I may make two final suggestions for this theme.

Perhaps the line that separates two inactive gray tabs could/should be more visible:

![tabs_new](https://user-images.githubusercontent.com/35411758/36408834-e093b498-15d5-11e8-8087-7bfb1ee822c2.jpg)

My second suggestion would be to make the top bar of the "W

[2018-03-03 14:03] danielalmeidagoncalves commented on #75
the same here! don't know what is missing so that thunderbird could recognize the theme.

[2018-03-03 14:09] danielalmeidagoncalves commented on #75
Ok, so it seems that you have to edit your profile.ini file (my was under /home/[user]/.thunderbird and here you have this configs:
[code]
You can change the Path to your Monterail unziped folder, only with this thunderbird can read the styles from the chrome folder and apply it as his default theme. Hope this helps.

[2018-03-07 07:47] micker commented on #97
tested and PERFECT !!

[2018-03-08 03:32] TheSirC opened #98 "Randomly colored menus names"
Thank you for this wonderful theme for a legacy software as Thunderbird.
I experience this :
![A wonderful random alternation of colors](https://user-images.githubusercontent.com/11771227/37131625-2d066874-2257-11e8-88d1-67d28edbcbac.png)

It continues over and over and on everything single themes that you provides. How can I fix it ?

[2018-04-11 17:44] realies opened #101 "Update theme to support Thunderbird Beta"
Theme breaks under the new UI available on Thunderbird Beta.

Update: Looks broken in 52.7.0 (64-bit) too:
![image](https://user-images.githubusercontent.com/5107843/38633669-47eefb2a-3db8-11e8-94f5-5353d7370b89.png)

[2018-05-04 03:57] etrigan63 opened #102 "Giant Emojis in Messge List"
Whenever someone sends an email with a Unicode emoji in the title, the emoji is scaled very large and messes up the formatting.

[2018-05-04 03:59] etrigan63 commented on #102
![screenshot at 2018-05-03 23-57-43](https://user-images.githubusercontent.com/7347264/39612491-f3d26446-4f2d-11e8-991c-da53da5344b5.png) Here is a screenshot.

[2018-05-16 14:57] IV2KBMoFxYIA opened #103 "compose window header not using theme"
The compose window is not matching the header for the theme. I am using the Dark theme which uses --dark-light-background for the email header section. However, the compose window is not using --dark-light-background. Any way to fix this?

[2018-05-23 10:50] dinnerpartyscience opened #104 "Colour highlight in messages with tags"
Hi,

Thanks for the great theme! I was wondering about how messages are highlighted when they are tagged and whether it is possible within this theme to not highlight the message with first tag. At the moment, even when a message has multiple tags, it is highlighted with the colour of only one of them (the first tag). In addition, the font in the message subject, correspondents, etc., changes colo

[2018-05-29 11:02] aidalgol opened #105 "Full Dark problems in message composer"
There are two major visibility problems with the full dark theme in the message composer:
- Quoted text in replies is dark blue on a dark grey background.
- The button text in the toolbar is dark on dark.

![thunderbird-full-dark-composer](https://user-images.githubusercontent.com/2313201/40654939-ccc0e628-6393-11e8-9772-ca485b1c09e7.png)

And the more minor problem of the header (To, Subject, etc

[2018-06-08 17:42] gilomx commented on #102
I fix this with

`sudo apt-add-repository ppa:eosrei/fonts`
`sudo apt-get update`
`sudo apt-get install fonts-twemoji-svginot`

[2018-07-06 09:55] LeonardoDG2084 opened #107 "Help to create a adapta version"
Hi, folks!

I'm creating a adapta theme version from montrail with some differences, so I'm having difficult to do some, changes on interface. This screenshot illustrate what I done and what I trying to do.!

![image](https://user-images.githubusercontent.com/16431489/42372765-851745e2-80e9-11e8-8939-1cd6250e2928.png)

[2018-07-10 18:46] lindhe commented on #103
Might be the same issue I have. Does it look like this?

![screenshot from 2018-07-10 20-44-54](https://user-images.githubusercontent.com/7773090/42530748-413ebdd6-8482-11e8-8505-288879c3dc61.png)

**EDIT:** talking about the light grey bar with white text and glyphs on it...

[2018-07-14 20:37] lindhe commented on #101
I'm running Thunderbird Daily 63.0a1, and over here it looks reasonable.

[2018-07-14 20:38] lindhe commented on #84
I agree this should be clarified somehow. I understood it, but was also caught on it for a second.

[2018-07-17 10:41] pkrakowiak commented on #101
Windows 10, version 60 (Beta), dark theme:

Barely visible filters (white on light background)
![thunderbird_2018-07-17_12-38-23](https://user-images.githubusercontent.com/736489/42812645-9b06c084-89be-11e8-9d9b-36d1af8701e6.png)

Barely visible main menu (dark on dark)
![2018-07-17_12-39-08](https://user-images.githubusercontent.com/736489/42812662-ac2835b4-89be-11e8-9e71-6442145f8be3.png)

Barel

[2018-07-23 00:49] realies commented on #101
Thunderbird 60.0b5+ now ships with a dark theme.

[2018-07-23 04:23] pkrakowiak commented on #101
It's not the same, for example the account/folder list in the left pane is always kept in light theme. This custom theme is much better in my opinion.

[2018-08-18 13:14] conema opened #109 "New version compatible with Thunderbird 60.x"
I think that spymastermatt is a little busy and at the moment he can't accept new PR with fixes.

For that, I created a new version of this theme that is compatible and tested with the new version of Thunderbird (60.x), for the moment. It should be compatible with 50.x

The installation is easier than before, the new theme is an Add-On and it can be downloaded directly from the Thunderbird site wi

[2018-08-18 13:15] conema commented on #1
See issue #109

[2018-08-18 13:19] conema commented on #101
@pkrakowiak I think that you'll like #109

[2018-08-19 12:07] lindhe commented on #109
I would suggest making it a real PR even if the maintainer might not have time to merge it. It would make more more semantic sense to me, so we can put improvements and discussion in that thread.

[2018-08-19 13:53] conema commented on #109
The "problem" is that the theme in my repo is not a fork of this one, but a fork of [this work](https://addons.thunderbird.net/en-US/thunderbird/addon/monterail/), they have almost nothing in common: different license and only a dozen lines of code comes from this repo. In reality, only the design is the same, but the code is practically all different.

An other problem is that, there will exists

[2018-09-28 12:03] jonas-sk opened #110 "Caret for folder hierarchy not visible with system theme on Windows"
See title. The caret that allows you to open/close the subfolders is the same color as the background on Windows 10. Only when clicking on the folder it becomes visible

![](https://i.imgur.com/WfOmIWa.png)

(compare "Mailbox" with "Gmail")

Same problem with "light" theme

[2018-10-09 15:22] antbre opened #112 "Changing Appearance of Unread Email"
In the full dark theme the unread messages are hardly to distinguish from the read ones. How could I change either the font size, color or email backdrop color?

[2018-10-29 14:04] Speirs47 opened #113 "Lightning styles"
I love these themes and as I know some CSS I've tweaked it myself (basically changed font, message's row heights and toolbar's height) but I'm wondering if it is possible to change styles for Lightning addon?

[2018-12-09 09:56] Stanzer opened #114 "Menu highlight background color"
Hi, I've been customizing my monterail (full-dark) and I can't seem to find how to change the highlight background colour of menus. It stays light grey when I would like it to be orange (the gnome canta-theme color scheme).

Any help on where I should amend the css file would be greatly appreciated.

Thanks!

(Upper part of image: what I have, lower part, what I would like to achieve)
![capture-20

[2019-01-30 12:00] ghost commented on #88
See mangoRunner's fix:
http://forums.mozillazine.org/viewtopic.php?f=39&t=3041329
Yay! it worked for me today 2019Jan30 in TBird 60.4(64bit) (in Linux Lubuntu).

[2019-07-12 14:03] #82 closed, assigned to nobody

[2019-08-03 21:11] p-herbert opened #117 "Light icons on light background"
Hello!

There is a small bug with light icons on a light background. I have provided screenshots below:

## Light
![Screenshot from 2019-08-03 13-51-46](https://user-images.githubusercontent.com/11701411/62416792-08755400-b5f6-11e9-8a05-0eb2e8df9063.png)

## Dark
![Screenshot from 2019-08-03 13-56-14](https://user-images.githubusercontent.com/11701411/62416816-7de12480-b5f6-11e9-9e64-dc2a72f10252.

[2019-10-08 12:11] cmtheo opened #119 "Not compatible with Thunberd 68.11"
All Monterail themes currently don't function with Thunderbird 68.xx.  Is there a work around or do we have to wait for an update to the theme?

[2019-10-08 16:43] ghost commented on #119
I thought it was only me. I installed thunderbird 68.11 but the theme doesn't seem to load at all.

[2019-11-06 09:21] NicoPL commented on #119
Same for me.
Actually, non of the themes listed in the official https://addons.thunderbird.net seem compatible with 68.xx

[2019-11-07 13:07] advancingu commented on #119
This repository is clearly not maintained anymore. For me, the base theme itself is still working fine with TB68.1.

In https://github.com/spymastermatt/thunderbird-monterail/pull/120 I published a fix for the folder pane background color so that others can apply it manually to their copies.

[2019-11-11 08:44] nickvergessen commented on #119
For me since the last update to 68.1.2 emails are not colored in the list anymore if they are tagged. this basically makes it unusable for me :crying_cat_face:

[2019-11-20 15:07] nickvergessen commented on #119
@AlexandreRio I fixed it with https://github.com/spymastermatt/thunderbird-monterail/pull/121
But now all unread emails are marked blue. Not sure this is better for everyone, but as long as you have no blue tag, it does it's job I'd say

[2019-11-21 09:32] Dahaniel commented on #119
For me everything looks fine, no blue mails. Thanks for the fix!

[2019-11-22 08:23] AlexandreRio commented on #119
@nickvergessen Just tested your fix, everything looks good to me, thanks!

[2019-11-27 17:02] frederik-elwert commented on #119
@advancingu Thanks for the patch. Unfortunately, it does not seem to work for me (on Ubuntu, using the system theme). I still have a light background with a light-ish font, making it hardly legible. Any idea what might be causing this? (It does work, however, with the dark theme.)

[2019-12-05 10:14] advancingu commented on #119
@frederik-elwert Try again with the new change to my PR #120 .

[2019-12-05 21:30] frederik-elwert commented on #119
@advancingu Yes, that one works perfectly, thanks!

[2019-12-12 11:13] qazip commented on #119
Holly hell, this is so confusing... This repo is obviously dead and the original owner has been MIA for 3 years now. It would be nice if someone set a new repo... @advancingu, can't you set a new repo (with issues enabled and all that) for this awesome theme?

[2019-12-13 16:12] jantheodor opened #122 "Thunderbird Portable Installation"
The Readme instructions don't apply to Thunerbird Portable. You have to extract the .zip-File into Thunderbird\Data\profile. Than continue as described "Rename the extracted *thunderbird-monterail* folder to *chrome*, edit userChrome.css to choose your theme variant, and restart thunderbird. (...)"

[2019-12-26 12:26] conema commented on #119
Hi guys, I don't know if all of you know that I'm maintaining from one year the [dark ](https://github.com/conema/monterail-dark) and [fulldark ](https://github.com/conema/monterail-fulldark) version of the theme, that is the one that you can find in the official TB addons webpage. It's fully (I hope) compatible with the last version of TB.

[2020-02-20 08:59] Sadi58 commented on #114
I've been searching for this for a long time as well. It seems this element is locked in Mozilla code, and nobody knows (or cares) how to unlock it. ;-)

[2020-04-22 04:26] subhasiscgr commented on #119
Is there any tutorial on how to install themes manually? I am new to Thunderbird and the xpi file is being rejected. Even changing strictcompatibility to false did not help.

[2020-05-15 02:32] w4nderlust opened #123 "Unread messages dot is inverted"
In the message list, the messages with the fot are the read ones and the ones without the dot are the unread ones. I guess it should be the opposite.

This is on ubuntu 20.04 running Thunderbird 68.70 with system colors.

![Screenshot from 2020-05-14 19-28-00](https://user-images.githubusercontent.com/349256/82005175-8ea8d700-9619-11ea-87b5-1f8fbe6d4854.png)

[2020-06-11 07:57] duffysk opened #125 "Context menu background color problem on MacOS"
Hi,

I'm having problems with the background color of context menu in my Thunderbird on my MacOS.

Light text on light background is hardly readable. Any ideas how to fix it?

<img width="762" alt="Screenshot 2020-06-11 at 09 54 47" src="https://user-images.githubusercontent.com/8058590/84359954-aac47780-abc9-11ea-9f5a-f7680850d0dd.png">
<img width="480" alt="Screenshot 2020-06-11 at 09 56 18" src

[2021-06-24 08:32] praveen2600 opened #126 "Does it work on TB 78.11.0?"
Even after following every step, this is not working for me. Is it supported on TB 78.11.0?

[2021-07-20 14:41] KivalM commented on #126
Have you enabled the customization option in thunderbird?
You'll need to enable the `toolkit.legacyUserProfileCustomizations.stylesheets` setting in Config Editor.

How to access the config editor:
https://support.mozilla.org/en-US/kb/config-editor

[2021-09-19 22:51] smac89 commented on #126
Works in TB 91 on Linux with KDE Desktop

![ArcoLinux_2021-09-19_16-47-51](https://user-images.githubusercontent.com/8305511/133945461-0cac58b5-a53e-4396-a467-0eba8edab947.png)

[2022-01-12 15:43] sg6 commented on #126
FYI, for everybody facing the same problem - please follow the steps of @egggod and do not miss out that part of the README:

It helped me, it's now working

[2022-09-10 03:31] daspraanjal opened #127 "Does not work with Thunderbird 91.8.1"
Did everything correctly but it is not working, nothing changes.